<style>

    .recent-container{
        background: linear-gradient(90deg, #0080ffb6 0%, #0080ffd3 43%,#0080FF 100%);
        border-radius: 0px 3px;
        padding: 10px;
    }

    .message-container{
        display: block;
        border: 3px solid #0033FF;
        padding: 25px 19px;
        border-radius: 5px;
        width: 250px;
    }

    .r_e_n {
        color: whitesmoke;
        text-align: center;
        padding: 10px;
    }

    .m_e_s {
        color: whitesmoke;
        font-size: 20px;
        text-transform: capitalize;
    }

    .message-user{
        color: whitesmoke;
        padding: 5px;
        border-radius: 3px;
    }
    .message-user:hover{
        background: #0033FF;
        transition: .5s;
    }

    .user-message{
        padding: 20px;
        font-size: 25px;
        text-transform: capitalize;
        color: #333;
    }

    .mess-room{
        font-size: 20px;
        color:blue;
        text-transform: capitalize;
    }

    .del{
        color: whitesmoke;
        padding: 5px; 
    }
    .del:hover{
        background:#A52A2A;
        padding: 5px;
        border-radius: 3px;
        transition: .5s;
    }
    
</style>

<div class="recent-container">
    <h3 class="r_e_n"> Recent Activity </h3>
    {% for message in room_message %}
    <div class="message-container"> 
        <small class="m_e_s"><a class="message-user" href="{% url 'user-profile' message.user.id %}">@{{ message.user }}</a>,{{message.created|timesince}} ago replied to </small>
        <small class="mess-room">"{{message.room}}"</small>
        <p class="user-message">{{message}}</p>
        {% if request.user == message.user %}
        <a class="del" href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}  
    </div>
    {% endfor %}
</div>
