<style>
    .feed-component{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: block;
        padding: 34px 20px;
        position: relative;
        background: #0099FF;
        border: 3px solid blue;
        border-radius: 4px;
    }

    .room-host{
        float: right;
    }

</style>
<div>
    {% for room in rooms %}
    <div class="feed-component">
        {% if request.user == room.host %}
        <a style="color: blue;font-size: 20px;" href = "{% url 'update-room' room.id %}">Edit</a>
        <a style="color: red; font-size: 20px;" href = "{% url 'delete-room' room.id%}">Delete</a>
        {% endif %}

        <a class="room-host" href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
        <h5><a style="color: darkgreen; font-size: 20px;" href= "{% url 'room' room.id %}">>{{room.name}}</a></h5>
        <small style="font-size: 20px;">{{room.topic.name}} </small>
       

    </div>
    {% endfor %}
</div>

