{% extends 'main.html' %}

{% block content %}
<!-- <img  class="nav" src="static/images/navbar.png"> -->
<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 3fr 1fr;
        margin-top: 20px;
    }

    .ph_1{
        width: 750px;
    }

    .ph_2{
        width: 250px;
    }
    .ph_3{
        width: 750px;
    }

    .captions{
        color: rgb(21, 48, 128);
        font-size: 90px;
    }

    .r_m{
        font-size: 30px;
        color: rgba(22, 78, 22, 0.897);
        text-align: center;
    }
    
    .c_e{
        color: darkslateblue;
        font-size: 25px;
    }

    .nav{
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<div class="home-container">

    
    <div>
       {% include 'base/topics_component.html' %}
       <img class="ph_2"  src="static/images/photo2.jpg"/>
       <hr>
       <img style="width: 250px;" src="static/images/django.png"/>
    </div>

    <div>
        <img class="ph_1"    src="static/images/photo1.jpg"/>
        <h5 class="r_m">Rooms Availables[ {{room_count}} ]</h5>
        <a class="c_e" href = "{% url 'create-room' %}">Create Room</a>
        <hr>  
        {% include 'base/feed_component.html' %}  
        <img class="ph_3" src="static/images/photo3.jpg"/> <br>
        <figcaption class="captions">
            There is no age for Learning....!!!
        </figcaption>
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div> 

</div>

{% endblock content  %}


