{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 3fr 1fr;
        padding: 0;
    }

    .create-room{
        display: block;
        text-align: center;
        padding: 34px 20px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
        position: relative;
        font-size: 25px;
        background: #0099FF;
        border: 3px solid blue;
        border-radius: 4px;
    }
    .c-r{
        color: #fff;
    }
    .c-r:hover{
        background: #0066FF;
        padding: 10px;
        border-radius: 3px;
    }

    .ph_3{
        width: 750px;
    }

    .captions{
        color: rgb(21, 48, 128);
        font-size: 90px;
    }

    .r_m{
        font-size: 30px;
        color: rgba(22, 78, 22, 0.897);
        text-align: center;
    }
    
    .c_e{
        color: darkslateblue;
        font-size: 25px;
        padding: 5px;
    }

</style>


<div class="home-container">

    <div>
       {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5 class="r_m">Rooms Availables[ {{room_count}} ]</h5>
        <div class="create-room">
            <a class="c-r" href = "{% url 'create-room' %}">Create Room</a>
        </div>
        <div>
            {% include 'base/feed_component.html' %} 
        </div>
        <!-- <img class="ph_3" src="static/images/photo3.jpg"/> <br> -->
        <!-- <figcaption class="captions">
            There is no age for Learning....!!!
        </figcaption> -->
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div> 

</div>

{% endblock content  %}


