<style>
    .topic-container {
        background: linear-gradient(90deg, #0080ffde 0%, #0080ffef 43%,#0080FF 100%);
        border-radius: 0px 3px;
        padding: 10px;
       
    }

    .t_o_p {
        padding: 10px;
        color: whitesmoke;
        text-align: center;
    }

    .topic-name{
        display: block;
        color: whitesmoke;
        border: 3px solid #0033FF;
        padding: 34px 10px;
        border-radius: 5px;
        text-transform: capitalize;
        margin-top: 5px; 
    }

</style>

<div class="topic-container">

    <h3 class="t_o_p"> Browse Topics </h3>
    <div class="topic-name">
        <div>
            <a href="{%  url 'home' %}" class="topic-name" >All</a> 
        </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}" class="topic-name">{{topic.name}}</a>
        </div>
        {% endfor %}
    </div>
    
</div>
